.center{
    text-align: center;
} 

body{
    background-color: black;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
nav {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    border-radius: 2vw;
    border:white solid 2px;
}
a {
    text-decoration: none;
    text-decoration-color: white;
}

.logo {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    background-color:none;
    justify-content: space-between;
    width: 500px;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}


.burger div{
    width: 25px;
    height: 5px;
    background-color: whitesmoke;
    margin:5px;

}

.banner {
    display: flex;
    justify-content: space-around;
    z-index:9;
    height: 500px;
    align-items: center;
    opacity: 0.83;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fff;
}
.banner img{
    border-radius: 50%;
    height: 200px;
}
.banner h1{
    font-size: 30px;
    margin-bottom: 50px;
}
.banne span{
    font-size: 40px;
}
.banner h2{
    font-family: monospace;
}

.height{
    min-height: 35px;
}

#updates{
    color: grey;
}


#divider{
    border: 3px solid grey;
}


.img{
    position: relative;
    width: 600px;
    display: inline-block;
    background-color: red;
    justify-content: center;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 2vw;
}

.img:hover{
    box-shadow: 0px 0px 10px 10px white;
    transition: 0.5s;
}

hr{
    border:3px grey solid;
    width: 90%;
    margin-left: 5%;
}

.rd{
    position: relative;
    size: 100%;
    width: 1285px;
    display: flex;
    background-color: red;
    justify-content: center;
    border-top: green solid 5px;
    border-bottom: blue solid 5px;
    border-left: rgb(255, 0, 255) solid 5px;
    border-right: yellow solid 5px;
    margin-left: 2.5%;
}
